[includeIf "gitdir:~/PlayQ/**"]
	path = ~/.gitconfig-cgradwohl-playq

[includeIf "gitdir:~/PlayQ-DevOps/**"]
	path = ~/.gitconfig-cgradwohl-playq

[includeIf "gitdir:~/CGradwohl/**"]
	path = ~/.gitconfig-cgradwohl

[includeIf "gitdir:~/cloudspark.io/**"]
    path = ~/.gitconfig-sudospark

[includeIf "gitdir:~/pray-with-me/**"]
	path = ~/.gitconfig-praywithme-dev

; [user]
	; name = Chris Gradwohl
	; email = 15326707+cgradwohl@users.noreply.github.com
