[includeIf "gitdir:~/PlayQ/**"]
	path = ~/.gitconfig-cgradwohl-playq

[includeIf "gitdir:~/PlayQ-DevOps/**"]
	path = ~/.gitconfig-cgradwohl-playq

[includeIf "gitdir:~/CGradwohl/**"]
	path = ~/.gitconfig-cgradwohl

[includeIf "gitdir:~/cloudspark.io/**"]
	path = ~/.gitconfig-sudospark